#container > div {
  display: flex;
  flex-direction: row;
  align-content: center;
  height: 100vh;
  min-height: 600px;
}

section {
  width: 50%;
}

.time-background {
  background-color: #fff;
  transition: background-color 1s;

  &--night {
    background-color: black;
    color: white;
  }
}
