.form {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 0 85px;

  &__text {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 40px;

    &__edit {
      cursor: pointer;
      display: inline;
      font-family: 'Playfair Display', serif;
      font-weight: 400;
      margin: 0;
      padding: 0;
      position: relative;
    }

    &__options {
      background-color: #fff;
      border: 1px solid grey;
      margin: 0;
      list-style-type: none;
      padding: 10px;
      padding-top: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;

      .time-background--night & {
        background-color: black;
        color: white;
      }

    }

  }
}
