@media (max-width: 500px) {

  #container > div {
    flex-direction: column;
    align-content: center;
    height: auto;
    min-height: auto;
  }

  section {
    width: 100%;
  }

  .tree {
    order: 1;
    margin-bottom: 50px;

    &__container {
      width: 400px;
    }

    &__line {
      &.balls:after {
        height: 40px;
        background-size: 40px 40px;
      }
    }
  }

  .form {
    order: 2;
    padding: 0 20px 200px;

    &__text {
      &__edit {
        text-decoration: underline;

      }
    }
  }
}



@media (max-width: 400px) {
  .tree {

    &__container {
      width: 300px;
    }

    &__line {
      &.balls:after {
        top: 10px;
        height: 32px;
        background-size: 31px 31px;
      }
    }
  }
  .form {
    font-size: 30px;
  }

}
