@mixin line-width {

  @for $i from 1 through 7 {
    .line--#{$i} {
      width: #{$i}0%;
    }
  }
}

@mixin balls-color($color) {

  &:after {
    background-image: radial-gradient(transparent 26%, $color 34%, transparent 41%);
    opacity: .85;
  }

}

@mixin lights-color($color) {

  box-shadow: 0px 0px 50px 5px $color;

}
