.tree {
  align-self: center;
  text-align: center;

  &__container {
    margin: 0 auto;
    width: 500px;
  }

  &__star {
    border-right: 25px solid transparent;
    border-bottom: 17px  solid black;
    border-left: 25px solid transparent;
    color: black;
    display: block;
    height: 0px;
    width: 0px;
    margin: 50px auto;
    position: relative;
    transform: rotate(35deg);

    &:before {
      border-bottom: 20px solid black;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      content: '';
      display: block;
      height: 0;
      width: 0;
      position: absolute;
      top: -12px;
      left: -17px;
      transform: rotate(-35deg);

    }
    &:after {
      border-right: 25px solid transparent;
      border-bottom: 17px solid black;
      border-left: 25px solid transparent;
      color: black;
      content: '';
      display: block;
      height: 0px;
      width: 0px;
      position: absolute;
      top: 3px;
      left: -27px;
      transform: rotate(-70deg);
    }

  }


  &__line {
    background-color: black;
    border: 3px solid transparent;
    height: 5px;
    width: 30%;
    margin: 50px auto 0;
    opacity: 1;
    transition: height .5s linear, margin-top .5s linear, margin-bottom .5s linear, border .5s linear, opacity .25s linear, box-shadow 1s;

    &.lights {
      border: 3px solid transparent;

      &--no {
        @include lights-color(transparent);
      }

      &--yellow {
        @include lights-color($color-yellow);
      }

      &--red {
        @include lights-color($color-red);
      }

      &--blue {
        @include lights-color($color-blue);
      }

      &--green {
        @include lights-color($color-green);
      }

      &--white {
        @include lights-color($color-white);
      }

    }

    &.balls {
      position: relative;

      &:after {
        background-color: transparent;
        background-size:51px 51px;
        background-position: 0 0, 51px 51px;
        content: '';
        height: 50px;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0;
        transition: background-image .5s linear;
        transition: opacity .8s;
      }

      &--no {
        @include balls-color(transparent);
      }

      &--yellow {
        @include balls-color($color-yellow);
      }

      &--red {
        @include balls-color($color-red);
      }

      &--blue {
        @include balls-color($color-blue);
      }

      &--green {
        @include balls-color($color-green);
      }

      &--purple {
        @include balls-color($color-purple);

      }

      .time-background--night &:after {
        opacity: 0;
      }
    }

  }


  @include line-width;


  &.small {
    .line--4,
    .line--5,
    .line--6,
    .line--7 {
      border: 0;
      height: 0;
      margin-bottom: 0;
      margin-top: 0;
      opacity: 0;
    }
  }

  &.medium {
    .line--6,
    .line--7 {
      height: 0;
      margin-bottom: 0;
      margin-top: 0;
      border: 0;
      opacity: 0;
    }

  }

  &__trunk {
    background-color: black;
    height: 50px;
    width: 10px;
    margin: 0 auto;
  }

}
